/*
------------------------------
initial styles or common style 
--------------------------------
*/
/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap");

/* 
------------------------------
  banner and top panel styles
  --------------------------------
  */
header {
  background-color: rgba(255, 144, 14, 0.1);
}
.banner {
  display: flex;
  width: 100%;
  margin: 30px;
  padding: 20px;
}
.tittle {
  font-size: 30px;
  text-align: center;
  color: #131313;
}
.menu {
  margin-left: 900px;
  padding: 20px;
  color: #424242;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
}
nav li {
  list-style-type: none;
  margin-left: 10px;
  font-size: 18px;
  color: #424242;
}
nav ul {
  display: flex;
  align-items: center;
}
