/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap");

body {
  max-width: 1240px;
  font-family: "Work Sans", sans-serif;
  margin: auto;
}
.container {
  background: rgba(255, 144, 14, 0.1);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  margin: 40px;
  font-size: 24px;
  color: #131313;
}
.menu {
  /* background-color: #ff900e; */
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  padding: 20px;
  color: #424242;
}
.menu a:hover {
  background-color: #d11554;
  color: white;
}
/* top banner  */
.top-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.top-banner-tittle {
  font-size: 64px;
  color: #131313;
}
.top-banner-description {
  font-size: 15px;
  color: #727272;
}
.button-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.btn {
  height: 64px;
  width: 180px;
  margin: 50px;
  font-size: 18;
  color: white;
  background: #ff900e;
  border-radius: 8px;
  border: none;
}
.top-banner-img {
  display: grid;
  grid-template-columns: repeat(1fr, 1);
  justify-content: center;
  align-items: center;
  align-content: center;
}
.top-banner-img img {
  height: 400px;
  width: 800px;
  margin-bottom: 50px;
  border-radius: 25px;
}
/* responsive menu  */
@media screen and (max-width: 567px) {
  .menu,
  .top-banner {
    flex-direction: column;
    padding: 12px;
  }
  .menu a {
    margin: 10px 0;
    text-align: center;
    border-radius: 15px;
  }
  .logo,
  .top-banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }
  .top-banner-img {
    display: grid;
    grid-template-columns: repeat(1fr, 1);
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .top-banner-img img {
    height: 400px;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 25px;
  }
}
@media screen and (max-width: 577px) and (max-width: 992) {
  .menu,
  .top-banner {
    flex-direction: row;
    padding: 12px;
  }
  .menu a {
    margin: 10px 0;
    text-align: center;
    border-radius: 15px;
  }
  .logo,
  .top-banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }
  .top-banner-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .top-banner-img img {
    height: 100px;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 25px;
  }
}
